<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>authors</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Key</key>
			<string>com.bps.fontwrangler.app.licence.authors</string>
			<key>DefaultValue</key>
			<string>Abel by MADType *
Audiowide by Astigmatic *
Bangers by Vernon Adams *
Baumans by Henadij Zarechnjuk/Cyreal *
Bebas Neue by Ryoichi Tsunekawa *
Black Ops One by James Grieshaber *
Bungee – David Jonathan Ross *
Caesar Dressing by Open Window *
Carter One by Vernon Adams *
Cinzel Decorative by Natanael Gama *
Comfortaa by Johan Aakerlund/Cyreal *
Concert One by Multiple Designers *
Creepster by Sideshow *
Fredoka One by Milena Brandao *
Fruktur by Viktoriya Grabowska *
Girassol by Liam Spradlin *
Gruppo by Vernon Adams *
Gugi by TAE System &amp; Typefaces Co. *
Knewave by Tyler Finck *
Lobster by Impallari Type/Cyreal *
Luckiest Guy by Astigmatic †
Megrim by Daniel Johnson *
Monoton by Vernon Adams *
Nova Cut by Wojciech Kalinowski *
Odibee Sans by James Barnard *
Oswald by Vernon Adams/Kalapi Gajjar/Cyreal *
Poiret One by Denis Masharov *
Righteous by Astigmatic *
Roboto by Christian Robertson (Apache Licence)
Shrikhand by Jonny Pinhorn *
Special Elite by Astigmatic †
Spicy Rice by Astigmatic *
Trade Winds by Sideshow *
Unica One by Eduardo Tunni *

* Open Font Licence
† Apache Licence</string>
		</dict>
	</array>
</dict>
</plist>
