<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Show Introductory Guidance</string>
			<key>Key</key>
			<string>com.bps.fontwrangler.app.show.intro</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Show New Fonts</string>
			<key>Key</key>
			<string>com.bps.fontismo.show.new</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>App Info</string>
			<key>FooterText</key>
			<string>Fontismo © 2022, Tony Smith (@smittytone)</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Version</string>
			<key>Key</key>
			<string>com.bps.fontwrangler.app.version</string>
			<key>DefaultValue</key>
			<string>0.0.0</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Build</string>
			<key>Key</key>
			<string>com.bps.fontwrangler.app.build</string>
			<key>DefaultValue</key>
			<string>1</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Creators</string>
			<key>FooterText</key>
			<string>The fonts provided are copyright their various owners. Please see ‘Typeface Designers’, above, to view a list of the creators behind the fonts accessed via this app.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Typeface Designers</string>
			<key>File</key>
			<string>authors</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Licences</string>
			<key>FooterText</key>
			<string>The fonts provided through this app are licensed under either the Open Font Licence or the Apache Licence. Please see ‘Open Font Licence’ and ‘Apache Licence’, above, for the terms of these licences. See ‘Typeface Designers’ to learn under which licence a font is made available.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Open Font Licence</string>
			<key>File</key>
			<string>licence</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Apache Licence</string>
			<key>File</key>
			<string>licence2</string>
		</dict>
	</array>
</dict>
</plist>
